*{box-sizing: border-box; margin: 0;padding: 0}
li,ul
{
	margin: 0;
	padding: 0;
}
.heading
{
	height: auto;
/*	background: gray;*/
	display: flex;
    flex-wrap: wrap;
    text-align: center;

}
.heading .dlogo
{
	height: auto;
	width: 30%;
/*	border: 1px solid;*/
	padding: 10px 20px 25px 20px;
}
.heading .dlogo img
{
   object-fit: contain;
}
.heading .headmenu
{

	height: auto;
	width: 70%;
/*	border: 1px solid;*/
	padding-left: 20px;
}
.heading li 
{
	display: inline;
	padding-right: 40px;
	line-height: 90px;
}
.heading a 
{
	text-decoration: none;
	color: green;
}
.heading a:hover
{
	color: darkblue;
}
.heading input
{
	background: red;
	height: 50px;
	width: 150px;
	color: white;
}

   /*heading end*/

.bgimg
{
	height:auto;
	width: 100%;
	background: #0074ac;
	position: fixed;
	top: 0;
	left: 0;
	position: relative;

}
 .insidebgimg
{
	height: 120px;
	width: 400px;
	position: absolute;
	top: 400px;
	left: 50px;
}
.bgimg .spanonline
{  
	width: 400px;
	text-align: center;
   background: green;
   color: white;
   padding: 20px;
   position: absolute;
   top: 280px;
   left: 50px;
   font-size: 25px;
}
.bgimg .spone 
{
	font-size: 40px;
	color: white;
	position: absolute;
	top: 180px;
	left: 60px;
}
.bgimg .sptwo 
{
	font-size: 22px;
	color: white;
	position: absolute;
	top: 230px;
	left: 60px;
}

.coupons
{
	height: auto;
	background: transparent;
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	position: relative;
}
.coupons span
{
	font-size: 30px;
	color: gray;
/*	font-family: cursive;*/
	position: absolute;
	top: 10px;
	left: 105px;

}
.coupons .cimg1
{
	height: 250px;
	width:40% ;
	margin: auto;
   padding: 10px;
}
.coupons .cimg2
{
	height: 250px;
	width:40% ;
/*  border: 1px solid;*/
  margin: auto;
  padding: 10px;
}

.explore
{
	height: auto;
/*	background: gray;*/
/* box-shadow: 0 0 20px black;*/
	display: flex;
	flex-wrap: wrap;
	padding: 70px 10px 30px 150px;
	text-align: center;
	position: relative;

}
.explore span 
{
	position: absolute;
	top: 15px;
	left: 148px;
	font-size: 30px;
	color: gray;
}
.explore .prd1
{
	height: 250px;
	width: 20%;
	border: 1px dotted black;
	margin-right: 15px;
	position: relative;

}
.explore .prd1 i,.explore .prd2 i,.explore .prd3 i,.explore .prd4 i
{
	font-size: 70px;
   padding-top: 30px;

}
.explore .prd1 .pone,.explore .prd2 .pone,.explore .prd3 .pone,.explore .prd4 .pone
{
  padding-top: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: verdana;
}
.explore .prd1 .ptwo,.explore .prd2 .ptwo,.explore .prd3 .ptwo,.explore .prd4 .ptwo
{
	padding-top: 15px;
   
}
.explore .prd1 .lastbox
{
	height: 45px;
	width: 210px;
	border-top: 1px dotted black;
	position: absolute;
	bottom: 0;
	left: 0x;
	color: red;
	padding-top: 10px;
	font-family: verdana;
}
.explore .prd2
{
	height: 250px;
	width: 20%;
	border: 1px dotted black;
	margin-right: 15px;
	position: relative;
}
.explore .prd2 .lastbox
{
	height: 45px;
	width: 210px;
	border-top: 1px dotted black;
	position: absolute;
	bottom: 0;
	left: 0x;
	color: red;
	padding-top: 8px;
	font-family: verdana;
}
.explore .prd3
{
	height: 250px;
	width: 20%;
border: 1px dotted black;
	margin-right: 15px;
	position: relative;
}
.explore .prd3 .lastbox
{
	height: 45px;
	width: 210px;
	border-top: 1px dotted black;
	position: absolute;
	bottom: 0;
	left: 0x;
	color: red;
	padding-top: 10px;
	font-family: verdana;
}
.explore .prd4
{
	height: 250px;
	width: 20%;
	border: 1px dotted black;
		margin-right: 15px;
		position: relative;
}
.explore .prd4 .lastbox
{
	height: 45px;
	width: 210px;
	border-top: 1px dotted black;
	position: absolute;
	bottom: 0;
	left: 0x;
	color: red;
	padding-top: 10px;
	font-family: verdana;
}
.explore a
{
	text-decoration: none;
	color: red;
   font-weight: bold;
}

.share
{
	height: auto;
	background: lightblue;
	display: flex;
	flex-wrap: wrap;
}
.share .img 
{
	height: 400px;
	width: 50%;
/*	border:1px solid;*/
}
.share .content
{
	height: 400px;
	width: 50%;
/*	border:1px solid;*/
}
.share .content .pone 
{
	font-size: 40px;
	color: darkslateblue;
	font-weight: bold;
	margin: 80px 0 0 100px;
}
.share .content .ptwo
{
   font-size: 30px;
	color: dimgray;
/*	font-weight: bold;*/
	margin: 30px 0 0 100px;	
}
.share .content .img1 
{
	margin: 30px 0 0 60px;
}
.share .content .img2
{
	margin: 0 0 0 20px;
}
